body{
  display: block;
  /* position: relative; */
}

body::after {
  content: "";
  /* background-color: rgb(252, 229, 229); */
  background: url('https://img.freepik.com/free-photo/contemporary-workspace-with-supplies-yellow-background_23-2147979156.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container{
  background-color: rgba(236, 195, 13, 0.938);
  min-height: 650px;
  width: 500px;
  margin: 40px auto;
  padding: 5px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.308);
  
}

#to-do-form input{
  background-color: rgb(225, 225, 250);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 0px 20px 20px 80px;
  font-size: 18px;
  border-radius: 10px;
  color: rgb(5, 138, 199);
}

h2{
  text-align: center;
  padding-top: 8px;
  color: rgb(107, 6, 74);
  letter-spacing: 10px;
  cursor: pointer;
}

h2:hover{
  color: rgb(144, 248, 196); 
  transition-duration: 1s;
  transform: scale(1.35); 
}

#to-do-form input::placeholder{
  color: rgba(0, 0, 0, 0.678)
}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(144, 209, 15);
  cursor: pointer;
  font-weight: bolder;
  color: white;
  outline: none;
  cursor: pointer;
}

#to-do-form button:hover{
  background-color: rgb(5, 179, 179);
}

/***************** ListItems component *********************/

.list{
  width: 300px;
  background-color: rgba(141, 132, 6, 0.945);
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

.list:hover{
  background-color: rgb(245, 80, 102);
}

.list p{
  padding: 10px;
  font-size: large;
  position: relative;
  color: rgb(252, 248, 248);
}

.list p span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons{
  margin: 0 5px;
  font-size: 15px;
}

.list p input{
  background-color: transparent;
  border: 0;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.list p input:focus{
  outline: none;
}

/***************** Time component *********************/
.App-clock{
  position: relative;
  top: 50%;
  background-color: rgba(47, 79, 79, 0.808);
  color: antiquewhite;
  padding: 10px;
  margin: 5px;
  width: 142px;
  border-radius: 8px;
}

