body {
  margin: 0;
  background-color: rgb(252, 229, 229);
}

.container{
  background-color: rgba(241, 36, 149, 0.589);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(225, 225, 250);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

h2{
  text-align: center;
  padding-top: 20px;
  color: aliceblue;
  letter-spacing: 10px;
}

#to-do-form input::placeholder{
  color: rgba(0, 0, 0, 0.678)
}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 5px;
  background-color: yellowgreen;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

/***************** ListItems component *********************/

.list{
  color: white;
  width: 300px;
  background-color: rgba(207, 15, 133, 0.856);
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

.list p{
  padding: 10px;
  font-size: large;
  position: relative;
}

.list p span{
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons{
  margin: 0 5px;
  font-size: 15px;
}

